@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\000033}}
*,
*::before,
*::after {
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\000039}}
.custom-lightbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\0000323}}
.custom-lightbox img {
  max-width: 60%;
  max-height: 80%; }

@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\0000328}}
.custom-lightbox .caption {
  flex: 1;
  color: #fff;
  font-size: 1.5rem;
  margin-left: 20px;
  max-height: 80%; }

@media (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\0000337}}
  .custom-lightbox .caption {
    overflow-y: auto;
    max-height: 250px; }

@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\0000342}}
  .custom-lightbox {
    display: inline-grid; } }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\0000347}}
.custom-lightbox .close-btn {
  position: absolute;
  top: 60px;
  right: 20px;
  color: #fff;
  font-size: 10rem;
  cursor: pointer; }

/*MODAL CUSTOM START*/
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\0000358}}
.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all .4s; }

@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\0000373}}
.modal:target {
  visibility: visible;
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\0000378}}
.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\0000387}}
.modal__footer {
  text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\0000390}}
  .modal__footer a {
    color: #585858; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\0000394}}
  .modal__footer i {
    color: #d02d2c; }

@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\0000399}}
.modal__close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #ffffff;
  text-decoration: none;
  font-size: 60px; }

/*MODAL CUSTOM END*/
/*START TIMELINE CUSTOM*/
/* Timeline Container */
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003114}}
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
  justify-content: center;
  display: grid; }

/* Card container */
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003123}}
.card {
  position: relative;
  max-width: 400px; }

/* setting padding based on even or odd */
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003129}}
.card:nth-child(odd) {
  padding: 30px 0 30px 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003132}}
.card:nth-child(even) {
  padding: 30px 30px 30px 0; }

/* Global ::before */
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003136}}
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid orangered; }

/* Setting the border of top, bottom, left */
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003144}}
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px; }

/* Setting the border of top, bottom, right */
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003153}}
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0; }

/* Removing the border if it is the first card */
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003162}}
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0; }

/* Removing the border if it is the last card  and it's odd */
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003168}}
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0; }

/* Removing the border if it is the last card  and it's even */
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003174}}
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0; }

/* Information about the timeline */
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003180}}
.info {
  display: flex;
  flex-direction: column;
  background: #333;
  color: gray;
  border-radius: 10px;
  padding: 10px; }

/* Title of the card */
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003190}}
.title {
  color: orangered;
  position: relative; }

/* Timeline dot  */
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003196}}
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid orangered; }

/* text right if the card is even  */
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003207}}
.card:nth-child(even) > .info > .title {
  text-align: right; }

/* setting dot to the left if the card is odd */
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003212}}
.card:nth-child(odd) > .info > .title::before {
  left: -45px; }

/* setting dot to the right if the card is odd */
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003217}}
.card:nth-child(even) > .info > .title::before {
  right: -45px; }

@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003222}}
.timeline .outer .card {
  border: none; }

/*END TIMELINE CUSTOM*/
/*START ABOUT PAGE STYLE*/
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003232}}
#container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 300%; }

@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003240}}
.slide {
  position: relative;
  flex: 1;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: all 1.0s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003250}}
  .slide.last-viewed .btn-close:after {
    transition-delay: 0s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003254}}
  .slide.last-viewed .btn-close:before {
    transition-delay: 0.1s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003260}}
  .slide.last-viewed .content .city-info {
    transition-delay: 0s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003265}}
    .slide.last-viewed .content .city-info li:nth-of-type(1) {
      transition-delay: 0.2s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003265}}
    .slide.last-viewed .content .city-info li:nth-of-type(2) {
      transition-delay: 0.4s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003265}}
    .slide.last-viewed .content .city-info li:nth-of-type(3) {
      transition-delay: 0.6s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003272}}
  .slide.last-viewed .content .emblem {
    transition: all 0.5s;
    transition-delay: 0s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003280}}
  .slide.last-viewed .image, .slide.active .image {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003288}}
  .slide.active {
    cursor: default; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003291}}
    .slide.active .overlay {
      width: 25%;
      background-size: 100% 100%;
      transition: all 1.25s;
      transition-delay: 1.75s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003298}}
    .slide.active .content {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003305}}
      .slide.active .content .title {
        width: 25%;
        opacity: 1;
        transform: translateY(30px);
        transition: all 1s;
        transition-delay: 1.25s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003312}}
        .slide.active .content .title:after {
          height: 100%;
          color: white;
          overflow: initial; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003318}}
        .slide.active .content .title:before {
          transform: scaleX(1);
          transition-delay: 2s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003324}}
      .slide.active .content .city-info {
        opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003327}}
        .slide.active .content .city-info li {
          opacity: 1;
          transform: translateX(0); }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003333}}
      .slide.active .content .emblem {
        opacity: 0.8;
        transform: translateY(100px); }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003339}}
    .slide.active .btn-close {
      cursor: pointer;
      pointer-events: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003343}}
      .slide.active .btn-close:before, .slide.active .btn-close:after {
        opacity: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003347}}
      .slide.active .btn-close:after {
        transform: rotate(45deg) translateX(0px); }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003351}}
      .slide.active .btn-close:before {
        transform: rotate(-45deg) translateX(0px); }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003357}}
  .slide.anim-in {
    transition-delay: 0.5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003360}}
    .slide.anim-in .image {
      top: -20%;
      left: -140%;
      height: 140%;
      width: 140%;
      animation: img-anim-in 1.2s forwards; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003369}}
  .slide.anim-out {
    flex: 0;
    cursor: default;
    transition-delay: 0.5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003374}}
    .slide.anim-out .image {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      animation: img-anim-out 1.2s forwards; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003386}}
  .slide:nth-of-type(1).anim-in .image {
    animation-delay: 0.2s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003392}}
  .slide:nth-of-type(1).anim-out .image {
    animation-delay: 0.2s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003386}}
  .slide:nth-of-type(2).anim-in .image {
    animation-delay: 0.4s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003392}}
  .slide:nth-of-type(2).anim-out .image {
    animation-delay: 0.4s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003386}}
  .slide:nth-of-type(3).anim-in .image {
    animation-delay: 0.6s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003392}}
  .slide:nth-of-type(3).anim-out .image {
    animation-delay: 0.6s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003386}}
  .slide:nth-of-type(4).anim-in .image {
    animation-delay: 0.8s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003392}}
  .slide:nth-of-type(4).anim-out .image {
    animation-delay: 0.8s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003399}}
  .slide .image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    pointer-events: none;
    transition: all 1s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003407}}
  .slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0));
    background-position: 0 0;
    background-size: 100% 200%;
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003421}}
  .slide .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003429}}
    .slide .content .title {
      position: absolute;
      top: -10px;
      height: 65px;
      width: 100%;
      box-sizing: border-box;
      font-size: 3em;
      text-align: center;
      text-shadow: 0 2px 2px #2f2f2f;
      color: #3f3f3f;
      opacity: 0;
      pointer-events: none;
      transition: all 0.5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003443}}
      .slide .content .title:after {
        position: absolute;
        top: 0;
        height: 0;
        width: 100%;
        display: block;
        content: attr(data-title);
        overflow: hidden;
        color: #fff59d;
        transition: all 0.85s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003455}}
      .slide .content .title:before {
        position: absolute;
        bottom: 15px;
        display: block;
        content: "";
        height: 2px;
        width: 85%;
        background: white;
        box-shadow: 0 2px 6px #2f2f2f;
        transform-origin: left center;
        transform: scaleX(0);
        transition: transform 1.25s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003470}}
    .slide .content .emblem {
      position: absolute;
      height: 200px;
      width: 25%;
      opacity: 0;
      transform: translateY(120px);
      transition: all 1s;
      transition-delay: 1.75s;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003483}}
    .slide .content .city-info {
      position: absolute;
      bottom: 30px;
      right: 30px;
      padding: 30px 30px 30px 120px;
      font-size: 1.25em;
      color: white;
      text-shadow: 0 1px 4px #0f0f0f;
      background-image: linear-gradient(90deg, rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.7));
      opacity: 0;
      transition: all 1s;
      transition-delay: 2s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003496}}
      .slide .content .city-info li {
        position: relative;
        margin-bottom: 5px;
        text-align: justify;
        opacity: 0;
        transform: translateX(-30px);
        transition: all 0.75s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003505}}
        .slide .content .city-info li:nth-of-type(1) {
          transition-delay: 2.7s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003505}}
        .slide .content .city-info li:nth-of-type(2) {
          transition-delay: 2.9s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003505}}
        .slide .content .city-info li:nth-of-type(3) {
          transition-delay: 3.1s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003513}}
  .slide .btn-close {
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 20px;
    height: 24px;
    width: 24px;
    pointer-events: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003522}}
    .slide .btn-close:before, .slide .btn-close:after {
      position: absolute;
      top: 12px;
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      background-color: white;
      opacity: 0;
      cursor: pointer;
      transition: all 0.5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003535}}
    .slide .btn-close:after {
      transform: rotate(45deg) translateX(-12px);
      transition-delay: 3s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003540}}
    .slide .btn-close:before {
      transform: rotate(-45deg) translateX(12px);
      transition-delay: 3.2s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003547}}
  .slide:hover:not(.active):not(.anim-out) .image {
    transform: scale(1.1); }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003551}}
  .slide:hover:not(.active):not(.anim-out) .overlay {
    opacity: 0.6; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003555}}
  .slide:hover:not(.active):not(.anim-out) .content .title {
    opacity: 1;
    transform: translateY(30px); }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003559}}
    .slide:hover:not(.active):not(.anim-out) .content .title:after {
      height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003566}}
#codepen-link {
  position: absolute;
  right: 15px;
  bottom: 15px;
  height: 40px;
  width: 40px;
  z-index: 10;
  border-radius: 50%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/544318/logo.jpg");
  background-position: center center;
  background-size: cover;
  opacity: 0.7;
  transition: all 0.25s; }
@media -sass-debug-info{filename{font-family:file\:\/\/M\:\/vscode\%20project\/GalleryOfArt\/scss\/custom\.scss}line{font-family:\00003580}}
  #codepen-link:hover {
    opacity: 1;
    box-shadow: 0 2px 6px #0f0f0f; }

@keyframes img-anim-in {
  to {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; } }
@keyframes img-anim-out {
  to {
    left: -100%; } }
/*END ABOUT PAGE STYLE*/

/*# sourceMappingURL=custom.css.map */
